@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style1,
  .style2 {
    text-align: center;
    font-family: dejavusans,serif;
    letter-spacing: 1px
  }
  .style2 {
    height: 16px;
    color: #eaace7;
    font-size: 1.125em;
    margin-left: 79px;
    margin-top: 45px
  }
  .style1 {
    color: #6b6360;
    font-size: .6875em;
    line-height: 22px;
    margin-left: 85px;
    margin-top: 20px;
    width: 206px
  }
  .homerow2 {
    display: flex;
    margin-left: 8px;
    margin-top: 343px;
    width: 267px;
    height: 120px
  }
  .style0,
  .style3 {
    color: #eaace7;
    font-family: dejavusans,serif
  }
  .style0 {
    align-self: stretch;
    font-size: 0;
    margin-left: 0;
    height: 100%
  }
  .style3 {
    text-align: center;
    font-size: 1.25em;
    letter-spacing: 1px;
    margin-left: 79px;
    margin-top: 77px;
    height: 18px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style1,
  .style2 {
    text-align: center;
    font-family: dejavusans,serif;
    letter-spacing: 2px
  }
  .style2 {
    height: 33px;
    color: #eaace7;
    font-size: 2.3040000000000003em;
    margin-left: 162px;
    margin-top: 92px
  }
  .style1 {
    color: #6b6360;
    font-size: 1.408em;
    line-height: 45px;
    margin-left: 174px;
    margin-top: 41px;
    width: 422px
  }
  .homerow2 {
    display: flex;
    margin-left: 16px;
    margin-top: 702px;
    width: 547px;
    height: 246px
  }
  .style0,
  .style3 {
    color: #eaace7;
    font-family: dejavusans,serif
  }
  .style0 {
    align-self: stretch;
    font-size: 0;
    margin-left: 0;
    height: 100%
  }
  .style3 {
    text-align: center;
    font-size: 2.56em;
    letter-spacing: 2px;
    margin-left: 162px;
    margin-top: 158px;
    height: 37px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style1,
  .style2 {
    text-align: center;
    font-family: dejavusans,serif;
    letter-spacing: 2px
  }
  .style2 {
    height: 39px;
    color: #eaace7;
    font-size: 2.76em;
    margin-left: 194px;
    margin-top: 110px
  }
  .style1 {
    color: #6b6360;
    font-size: 1.6866666666666665em;
    line-height: 54px;
    margin-left: 209px;
    margin-top: 49px;
    width: 505px
  }
  .homerow2 {
    display: flex;
    margin-left: 20px;
    margin-top: 841px;
    width: 655px;
    height: 294px
  }
  .style0,
  .style3 {
    color: #eaace7;
    font-family: dejavusans,serif
  }
  .style0 {
    align-self: stretch;
    font-size: 0;
    margin-left: 0;
    height: 100%
  }
  .style3 {
    text-align: center;
    font-size: 3.0666666666666664em;
    letter-spacing: 2px;
    margin-left: 194px;
    margin-top: 189px;
    height: 44px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style1,
  .style2 {
    text-align: center;
    font-family: dejavusans,serif;
    letter-spacing: 3px
  }
  .style2 {
    height: 51px;
    color: #eaace7;
    font-size: 3.6em;
    margin-left: 253px;
    margin-top: 144px
  }
  .style1 {
    color: #6b6360;
    font-size: 2.2em;
    line-height: 70px;
    margin-left: 272px;
    margin-top: 64px;
    width: 659px
  }
  .homerow2 {
    display: flex;
    margin-left: 26px;
    margin-top: 1098px;
    width: 854px;
    height: 384px
  }
  .style0,
  .style3 {
    color: #eaace7;
    font-family: dejavusans,serif
  }
  .style0 {
    align-self: stretch;
    font-size: 0;
    margin-left: 0;
    height: 100%
  }
  .style3 {
    text-align: center;
    font-size: 4em;
    letter-spacing: 3px;
    margin-left: 253px;
    margin-top: 246px;
    height: 58px
  }
}